<p><%= @friendship_request.user.full_name %> requested to be your friend</p>

<%= button_to 'Accept', friendship_request_accept_path(@friendship_request), params: { id: @friendship_request.id } %>
<%= button_to 'Deny', friendship_request_deny_path(@friendship_request), params: { id: @friendship_request.id } %>

<%= console %>
